@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-radix';

@source '../../../packages/**/{**,.client,.server}/**/*.{js,jsx,ts,tsx}';

@custom-variant dark (&:is(.dark *));

:root {
  /* --font-sans: Nunito Sans, Nunito Sans Fallback; */
  /* --font-mono: here if you got it... */

  /* prefixed with foreground because it should look good on the background */
  --foreground-destructive: oklch(0.729 0.221 25.6);

  --background: oklch(0.945 0 0);
  --foreground: oklch(0.346 0 0);

  --card: oklch(0.996 0 0);
  --card-foreground: oklch(0.242 0 0);
  --card-inner: oklch(0.945 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.44 0.193 319.13);
  --primary-foreground: oklch(0.98 0.0035 247.86);

  --secondary: oklch(0.595 0.188 80.6);
  --secondary-foreground: oklch(0.996 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.98 0.0035 247.86);

  --border: oklch(0.922 0 0);
  --input: oklch(0.956 0.018 260.6);
  --input-foreground: oklch(0.242 0 0);
  --input-invalid: oklch(0.729 0.221 25.6);

  --ring: oklch(0.44 0.193 319.13);

  --radius: 0.5rem;
  --badge: oklch(0.905 0.068 297.6);
  --badge-foreground: oklch(0.567 0.132 303.5);

  --avatar: oklch(0.915 0.013 264.1);
  --avatar-hover: oklch(0.834 0.013 264.1);
}

.dark {
  --background: oklch(0.184 0.033 267.8);
  --foreground: oklch(0.811 0 0);

  --foreground-destructive: oklch(0.729 0.221 16.9);

  --muted: oklch(0.242 0.033 260.7);
  --muted-foreground: oklch(0.717 0.013 260.7);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --card: oklch(0.242 0.013 260.7);
  --card-foreground: oklch(0.964 0.013 264.1);
  --card-inner: oklch(0.346 0.013 260.7);

  --border: oklch(0.848 0.033 260.7);

  --input: oklch(0.205 0.033 260.7);
  --input-foreground: oklch(0.964 0.013 264.1);
  --input-invalid: oklch(0.411 0.188 25.6);

  --primary: oklch(0.61 0.2501 319.41);
  --primary-foreground: oklch(0.964 0.013 264.1);

  --secondary: oklch(0.542 0.188 80.6);
  --secondary-foreground: oklch(0.964 0.013 264.1);

  --accent: oklch(0.411 0.033 260.7);
  --accent-foreground: oklch(0.964 0.013 264.1);

  --destructive: oklch(0.518 0.188 25.6);
  --destructive-foreground: oklch(0.97 0.013 25.6);

  --ring: oklch(0.61 0.2501 319.41);

  --badge: oklch(0.462 0.068 297.6);
  --badge-foreground: oklch(0.951 0.124 303.5);

  --avatar: oklch(0.496 0 0);
  --avatar-hover: oklch(0.595 0 0);
}

@theme inline {
  --color-border: var(--border);

  --color-input: var(--input);
  --color-input-foreground: var(--input-foreground);
  --color-input-invalid: var(--input-invalid);

  --color-ring: var(--ring);
  --color-ring-invalid: var(--foreground-destructive);

  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-destructive: var(--foreground-destructive);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-inner: var(--card-inner);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);

  --color-avatar: var(--avatar);
  --color-avatar-hover: var(--avatar-hover);

  --color-twitter-50: oklch(0.962 0.018 246.9);
  --color-twitter-100: oklch(0.923 0.032 248.4);
  --color-twitter-200: oklch(0.88 0.046 250);
  --color-twitter-300: oklch(0.829 0.064 251.7);
  --color-twitter-400: oklch(0.761 0.098 253.2);
  --color-twitter-500: oklch(0.671 0.152 253.7);
  --color-twitter-600: oklch(0.634 0.152 253.7);
  --color-twitter-700: oklch(0.582 0.152 253.7);
  --color-twitter-800: oklch(0.518 0.152 253.7);
  --color-twitter-900: oklch(0.411 0.152 253.7);

  --color-facebook-50: oklch(0.964 0.013 246.9);
  --color-facebook-100: oklch(0.915 0.013 260.6);
  --color-facebook-200: oklch(0.811 0.032 260.6);
  --color-facebook-300: oklch(0.634 0.098 260.6);
  --color-facebook-400: oklch(0.542 0.132 260.6);
  --color-facebook-500: oklch(0.496 0.132 260.6);
  --color-facebook-600: oklch(0.462 0.132 260.6);
  --color-facebook-700: oklch(0.428 0.132 260.6);
  --color-facebook-800: oklch(0.377 0.132 260.6);
  --color-facebook-900: oklch(0.346 0.132 260.6);

  --color-night-100: oklch(0.88 0 0);
  --color-night-200: oklch(0.717 0 0);
  --color-night-300: oklch(0.496 0 0);
  --color-night-400: oklch(0.346 0 0);
  --color-night-500: oklch(0.205 0 0);
  --color-night-600: oklch(0.145 0 0);
  --color-night-700: oklch(0.085 0 0);

  --color-day-100: oklch(0.97 0.013 297.6);
  --color-day-200: oklch(0.923 0.032 297.6);
  --color-day-300: oklch(0.905 0.032 297.6);
  --color-day-400: oklch(0.87 0.032 297.6);
  --color-day-500: oklch(0.717 0.098 297.6);
  --color-day-600: oklch(0.717 0.064 297.6);
  --color-day-700: oklch(0.496 0.221 297.6);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --text-mega: 5rem;
  --text-mega--line-height: 5.25rem;
  --text-mega--font-weight: 700;
  --text-h1: 3.5rem;
  --text-h1--line-height: 3.875rem;
  --text-h1--font-weight: 700;
  --text-h2: 2.5rem;
  --text-h2--line-height: 3rem;
  --text-h2--font-weight: 700;
  --text-h3: 2rem;
  --text-h3--line-height: 2.25rem;
  --text-h3--font-weight: 700;
  --text-h4: 1.75rem;
  --text-h4--line-height: 2.25rem;
  --text-h4--font-weight: 700;
  --text-h5: 1.5rem;
  --text-h5--line-height: 2rem;
  --text-h5--font-weight: 700;
  --text-h6: 1rem;
  --text-h6--line-height: 1.25rem;
  --text-h6--font-weight: 700;
  --text-body-2xl: 2rem;
  --text-body-2xl--line-height: 2.25rem;
  --text-body-xl: 1.75rem;
  --text-body-xl--line-height: 2.25rem;
  --text-body-lg: 1.5rem;
  --text-body-lg--line-height: 2rem;
  --text-body-md: 1.25rem;
  --text-body-md--line-height: 1.75rem;
  --text-body-sm: 1rem;
  --text-body-sm--line-height: 1.25rem;
  --text-body-xs: Ascending;
  --text-body-xs--line-height: 1.125rem;
  --text-body-2xs: 0.75rem;
  --text-body-2xs--line-height: 1rem;
  --text-caption: 1.125rem;
  --text-caption--line-height: 1.5rem;
  --text-caption--font-weight: 600;
  --text-button: 0.75rem;
  --text-button--line-height: 1rem;
  --text-button--font-weight: 700;

  --transition-property-width: width;
  --transition-property-display: display;
  --transition-property-height: height;
  --transition-property-visibility: visibility;

  --shadow-round: 0 0 50px rgba(0, 0, 0, 0.5);
  --shadow-bottom: 0 4px 2px -2px rgb(0 0 0 / 0.1);
  --shadow-raise:
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --min-height-1\/4: 25%;
  --min-height-1\/3: 33.33%;
  --min-height-1\/2: 50%;
  --min-height-2\/3: 66.66%;
  --min-height-3\/4: 75%;

  --min-width-1\/4: 25%;
  --min-width-1\/3: 33.33%;
  --min-width-1\/2: 50%;
  --min-width-2\/3: 66.66%;
  --min-width-3\/4: 75%;

  --max-height-1\/4: 25%;
  --max-height-1\/3: 33.33%;
  --max-height-1\/2: 50%;
  --max-height-2\/3: 66.66%;
  --max-height-3\/4: 75%;

  --container-1\/4: 25%;
  --container-1\/3: 33.33%;
  --container-1\/2: 50%;
  --container-2\/3: 66.66%;
  --container-3\/4: 75%;
  --container-xl: 80rem;

  --height-0_75: 0.1875rem;

  --width-99: 99%;

  --background-image-profile-hero: url('/mask.svg');
  --background-image-checkered: repeating-conic-gradient(
      oklch(0.346 0 0) 0% 25%,
      oklch(1 0 0) 0% 50%
    )
    50% / 12px 12px;

  --breakpoint-vl: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 4);
  width: 100%;

  @variant sm {
    max-width: var(--breakpoint-sm);
  }
  @variant md {
    max-width: var(--breakpoint-md);
  }
  @variant lg {
    max-width: var(--breakpoint-lg);
  }
  @variant vl {
    max-width: var(--breakpoint-vl);
  }

  @variant xl {
    padding-inline: calc(var(--spacing) * 6);
    max-width: var(--breakpoint-xl);
  }

  @variant 2xl {
    max-width: var(--breakpoint-2xl);
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .chip {
    @apply bg-badge/60 text-badge-foreground/80;
  }
  .chip-plain {
    @apply bg-card-inner text-card-foreground;
  }
  .badge {
    @apply bg-badge text-badge-foreground;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}
input,
textarea {
  &:where(:autofill, [data-com-onepassword-filled]) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: hsl(var(--input-foreground));

    & + :where(:-webkit-autofill) {
      background-color: hsl(var(--input-foreground));
      box-shadow:
        inset 0 0 0 1px hsl(var(--input)),
        inset 0 0 0 1px hsl(var(--input));
    }
  }
}

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  background-color: inherit;
}

ul li,
ol li {
  @apply first-letter:capitalize;
}

fieldset {
  @apply w-full;
}

.title,
.description {
  @apply text-center;
}

.main-height {
  @apply h-[calc(100vh-4rem)];
}

.inner-height {
  @apply h-[calc(100vh-5rem)];
}

.upload-button {
  @apply absolute right-2 bottom-2 border md:right-3 md:bottom-3 xl:right-4 xl:bottom-4;
}

.bg-brand-gradient {
  background: transparent linear-gradient(180deg, #7c1993 0%, #a134bc 100%) 0%
    0% no-repeat padding-box;
}
.bg-brand-profile {
  background-image: url('/mask.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-brand-gradient-hero {
  background: transparent
    linear-gradient(180deg, #7c1993 0%, #a134bc 55%, #ba46d8 100%) 0% 0%
    no-repeat padding-box;
}

button:disabled {
  pointer-events: none;
  opacity: 0.4;
}

textarea {
  resize: none;
}

.z-100 {
  z-index: 100;
}

.text-xxs {
  font-size: 0.6875rem;
  line-height: 1rem;
}

.ProseMirror {
  @apply text-foreground;
  ul,
  ol {
    padding: 0 1rem;
  }
  code {
    background-color: #090812;
    color: #f8ba18;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 400;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
  }
  pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
  }
  hr {
    border: none;
    border-top: 1px solid hsl(var(--card-foreground));
    margin: 2rem 0;
  }
  ul,
  ol {
    marginblockstart: 0;
    marginblockend: 0;
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: decimal;
          ol {
            list-style-type: lower-alpha;
            ol {
              list-style-type: lower-roman;
            }
          }
        }
      }
    }
  }
  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
        ul {
          list-style-type: disc;
          ul {
            list-style-type: circle;
            ul {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  li {
    margin-block-start: 0;
    margin-block-end: 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      div {
        flex: 1 1 auto;
      }

      input[type='checkbox'] {
        @apply appearance-none;
      }

      input[type='checkbox'] + span {
        @apply border-primary ring-offset-background focus-visible:ring-ring data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground inline-block h-5 w-5 shrink-0 rounded-sm border focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-hidden disabled:cursor-not-allowed disabled:opacity-50;
      }
      input[type='checkbox']:checked + span {
        @apply bg-primary text-primary-foreground;
      }
    }
  }

  table {
    @apply relative m-0 block table-fixed border-collapse overflow-x-auto overflow-y-hidden;

    td,
    th {
      @apply border-border relative box-border min-w-5 border px-1.5 py-1 align-top;
      & > * {
        margin-bottom: 0;
        display: inline;
      }
    }

    th {
      @apply bg-accent text-accent-foreground text-left font-semibold;
    }
  }
  .tableWrapper {
    @apply overflow-x-auto;

    table {
      @apply table overflow-hidden;
    }
  }

  &[contenteditable='true'] {
    &.resize-cursor {
      @apply cursor-col-resize;
    }
    .column-resize-handle {
      @apply bg-primary pointer-events-none absolute top-0 right-[-2px] bottom-[-2px] z-50 w-1;
    }
  }
  &[contenteditable='false'] {
    .column-resize-handle {
      @apply hidden;
    }

    &.resize-cursor {
      @apply pointer-events-none;
    }
  }
  a {
    @apply cursor-pointer hover:underline;
  }
  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
    word-break: normal;
    cursor: text;

    &:after {
      position: absolute;
      content: '';
      left: -3;
      right: 0;
      top: -2;
      border-width: 3;
      border-style: solid;
      border-color: inherit;
    }

    &:hover .collaboration-cursor__label {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12;
    font-style: normal;
    font-weight: 600;
    left: -1;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s linear 0.5s;
    animation: cursor-delay-opacity-change 3s linear 1;
  }

  .ProseMirror-gapcursor:after {
    border-color: hsl(var(--primary));
  }
  p.is-editor-empty:first-of-type::before {
    color: hsl(var(--muted-foreground));
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  .selectedCell:after {
    z-index: 1;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }
}
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    bg .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  code::before,
  code::after {
    content: none;
  }
}

.menu-content {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}
.popover-content {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

.overflow-fade {
  /* overflow: hidden; */
  /* position: relative;
	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 3rem;
		top: -3rem;
		background: linear-gradient(
			0deg,
			hsl(var(--card)) 50%,
			rgba(255, 255, 255, 0) 100%
		);
	} */
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}

.dark {
  .ProseMirror {
    img:not(.ProseMirror-separator) {
      max-width: 100%;
      height: auto;
      display: block;
      & .ProseMirror-selectednode {
        outline: 3px solid hsl(var(--primary));
      }
    }
  }
}

@keyframes cursor-delay-opacity-change {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.readonly-editor {
  @apply mb-2 md:mb-3;
  .ProseMirror {
    /* pointer-events: none; */
  }
}
