@import '../../../packages/ui/public/css/styles.css';

@source '../../../packages/**/*.{ts,tsx}';

/* Hide scrollbars for time picker */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.title,
.description {
  @apply text-center;
}

.main-height {
  @apply h-[calc(100vh-4rem)];
}

.inner-height {
  @apply h-[calc(100vh-5rem)];
}

.upload-button {
  @apply absolute right-2 bottom-2 border md:right-3 md:bottom-3 xl:right-4 xl:bottom-4;
}

.bg-brand-gradient {
  background: transparent linear-gradient(180deg, #7c1993 0%, #a134bc 100%) 0%
    0% no-repeat padding-box;
}
.bg-brand-profile {
  background-image: url('/mask.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.bg-brand-gradient-hero {
  background: transparent
    linear-gradient(180deg, #7c1993 0%, #a134bc 55%, #ba46d8 100%) 0% 0%
    no-repeat padding-box;
}

.z-100 {
  z-index: 100;
}

pre {
  background: #0d0d0d;
  color: #fff;
  font-family: 'JetBrainsMono', monospace;
  border-radius: 0.5rem;
}
pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror {
  @apply text-foreground;
  ul,
  ol {
    padding: 0 1rem;
  }
  code {
    background-color: #090812;
    color: #f8ba18;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 400;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg font-bold;
  }
  h6 {
    @apply text-base font-bold;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    border-radius: 0.5rem;
  }
  pre code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(13, 13, 13, 0.1);
  }
  hr {
    border: none;
    border-top: 1px solid hsl(var(--card-foreground));
    margin: 2rem 0;
  }
  ul,
  ol {
    marginblockstart: 0;
    marginblockend: 0;
  }

  ol {
    list-style-type: decimal;
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
        ol {
          list-style-type: decimal;
          ol {
            list-style-type: lower-alpha;
            ol {
              list-style-type: lower-roman;
            }
          }
        }
      }
    }
  }
  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
        ul {
          list-style-type: disc;
          ul {
            list-style-type: circle;
            ul {
              list-style-type: square;
            }
          }
        }
      }
    }
  }

  li {
    margin-block-start: 0;
    margin-block-end: 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  ul[data-type='taskList'] {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      div {
        flex: 1 1 auto;
      }
    }
  }

  table {
    @apply relative m-0 block table-fixed border-collapse overflow-x-auto overflow-y-hidden;

    td,
    th {
      @apply border-foreground/30 relative box-border min-w-5 border px-1.5 py-1 align-top;
      & > * {
        margin-bottom: 0;
        display: inline;
      }
    }

    th {
      @apply bg-secondary text-secondary-foreground text-left font-semibold;
    }
  }
  .tableWrapper {
    @apply overflow-x-auto;

    table {
      @apply table overflow-hidden;
    }
  }

  &[contenteditable='true'] {
    &.resize-cursor {
      @apply cursor-col-resize;
    }
    .column-resize-handle {
      @apply bg-primary pointer-events-none absolute top-0 right-[-2px] bottom-[-2px] z-50 w-1;
    }
  }
  &[contenteditable='false'] {
    .column-resize-handle {
      @apply hidden;
    }

    &.resize-cursor {
      @apply pointer-events-none;
    }
  }
  a {
    @apply cursor-pointer;
  }

  .collaboration-cursor__caret {
    border-left: 1px solid #0d0d0d;
    border-right: 1px solid #0d0d0d;
    margin-left: -1px;
    margin-right: -1px;
    position: relative;
    word-break: normal;
    cursor: text;

    &:after {
      position: absolute;
      content: '';
      left: -3;
      right: 0;
      top: -2;
      border-width: 3;
      border-style: solid;
      border-color: inherit;
    }

    &:hover .collaboration-cursor__label {
      opacity: 1;
      transition: opacity 0.1s linear;
    }
  }
  .collaboration-cursor__label {
    border-radius: 3px 3px 3px 0;
    color: #0d0d0d;
    font-size: 12;
    font-style: normal;
    font-weight: 600;
    left: -1;
    line-height: normal;
    padding: 0.1rem 0.3rem;
    position: absolute;
    top: -1.4em;
    user-select: none;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s linear 0.5s;
    animation: cursor-delay-opacity-change 3s linear 1;
  }

  .ProseMirror-gapcursor:after {
    border-color: hsl(var(--primary));
  }
  p.is-editor-empty:first-of-type::before {
    color: hsl(var(--neutral-foreground));
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  .selectedCell:after {
    z-index: 1;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }
}
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }

    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    bg .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }
  code::before,
  code::after {
    content: none;
  }
}

.menu-content {
  width: var(--radix-dropdown-menu-trigger-width);
  max-height: var(--radix-dropdown-menu-content-available-height);
}
.popover-content {
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}

.dark {
  .ProseMirror {
    img:not(.ProseMirror-separator) {
      max-width: 100%;
      height: auto;
      display: block;
      & .ProseMirror-selectednode {
        outline: 3px solid hsl(var(--primary));
      }
    }
  }
}

@keyframes cursor-delay-opacity-change {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.readonly-editor {
  @apply mb-2 md:mb-3;
  .ProseMirror {
    /* pointer-events: none; */
  }
}
