@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-radix';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.945 0 0);
  --foreground: oklch(0.346 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --card: oklch(0.996 0 0);
  --card-foreground: oklch(0.242 0 0);
  --card-inner: oklch(0.945 0 0);

  --primary: oklch(0.44 0.193 319.13);
  --primary-foreground: oklch(0.98 0.0035 247.86);

  --secondary: oklch(0.595 0.188 80.6);
  --secondary-foreground: oklch(0.996 0 0);

  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.98 0.0035 247.86);

  --success: oklch(0.65 0.2 140);
  --success-foreground: oklch(0.98 0.0035 247.86);

  --warning: oklch(0.65 0.2 60);
  --warning-foreground: oklch(0.98 0.0035 247.86);

  --info: oklch(0.65 0.15 200);
  --info-foreground: oklch(0.98 0.0035 247.86);

  --badge: oklch(0.905 0.068 297.6);
  --badge-foreground: oklch(0.567 0.132 303.5);

  --border: oklch(0.922 0 0);
  --ring: oklch(0.44 0.193 319.13);
}

.dark {
  --background: oklch(0.184 0.033 267.8);
  --foreground: oklch(0.811 0 0);

  --muted: oklch(0.242 0.033 260.7);
  --muted-foreground: oklch(0.717 0.013 260.7);

  --accent: oklch(0.411 0.033 260.7);
  --accent-foreground: oklch(0.964 0.013 264.1);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --card: oklch(0.242 0.013 260.7);
  --card-foreground: oklch(0.964 0.013 264.1);
  --card-inner: oklch(0.346 0.013 260.7);

  --primary: oklch(0.61 0.2501 319.41);
  --primary-foreground: oklch(0.964 0.013 264.1);

  --secondary: oklch(0.542 0.188 80.6);
  --secondary-foreground: oklch(0.964 0.013 264.1);

  --destructive: oklch(0.518 0.188 25.6);
  --destructive-foreground: oklch(0.97 0.013 25.6);

  --success: oklch(0.7 0.2 140);
  --success-foreground: oklch(0.97 0.013 264.1);

  --warning: oklch(0.7 0.2 60);
  --warning-foreground: oklch(0.97 0.013 264.1);

  --info: oklch(0.7 0.15 200);
  --info-foreground: oklch(0.97 0.013 264.1);

  --badge: oklch(0.462 0.068 297.6);
  --badge-foreground: oklch(0.951 0.124 303.5);

  --border: oklch(0.848 0.033 260.7);
  --ring: oklch(0.61 0.2501 319.41);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-inner: var(--card-inner);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);

  --color-badge: var(--badge);
  --color-badge-foreground: var(--badge-foreground);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --transition-property-width: width;
  --transition-property-display: display;
  --transition-property-height: height;
  --transition-property-visibility: visibility;

  --shadow-round: 0 0 50px rgba(0, 0, 0, 0.5);
  --shadow-bottom: 0 4px 2px -2px rgb(0 0 0 / 0.1);
  --shadow-raise:
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --container-1\/4: 25%;
  --container-1\/3: 33.33%;
  --container-1\/2: 50%;
  --container-2\/3: 66.66%;
  --container-3\/4: 75%;
  --container-xl: 80rem;

  --height-0_75: 0.1875rem;

  --background-image-profile-hero: url('/mask.svg');
  --background-image-checkered: repeating-conic-gradient(
      oklch(0.346 0 0) 0% 25%,
      oklch(1 0 0) 0% 50%
    )
    50% / 12px 12px;

  --breakpoint-vl: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 4);
  width: 100%;

  @variant sm {
    max-width: var(--breakpoint-sm);
  }
  @variant md {
    max-width: var(--breakpoint-md);
  }
  @variant lg {
    max-width: var(--breakpoint-lg);
  }
  @variant vl {
    max-width: var(--breakpoint-vl);
  }

  @variant xl {
    padding-inline: calc(var(--spacing) * 6);
    max-width: var(--breakpoint-xl);
  }

  @variant 2xl {
    max-width: var(--breakpoint-2xl);
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .chip {
    @apply bg-badge/60 text-badge-foreground/80;
  }
  .chip-plain {
    @apply bg-card-inner text-card-foreground;
  }
  .badge {
    @apply bg-badge text-badge-foreground;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}
input,
textarea {
  &:where(:autofill, [data-com-onepassword-filled]) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;

    & + :where(:-webkit-autofill) {
      background-color: inherit;
      box-shadow:
        inset 0 0 0 1px,
        inset 0 0 0 1px;
    }
  }
}

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  background-color: inherit;
}

ul li,
ol li {
  @apply first-letter:capitalize;
}

fieldset {
  @apply w-full;
}

@keyframes cursor-delay-opacity-change {
  0%,
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
