@import '../../node_modules/@veraclins-dev/ui/css/styles.css';

@source '../../node_modules/@veraclins-dev/**/{**,.client,.server}/**/*.{js,jsx,ts,tsx}';

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	-webkit-text-fill-color: var(--foreground);
	caret-color: var(--foreground);
}

.title,
.description {
	@apply text-center;
}

.main-height {
	@apply h-[calc(100vh-5rem)];
}

.inner-height {
	@apply h-[calc(100vh-5rem)];
}

textarea {
	resize: none;
}

.text-xxs {
	font-size: 0.6875rem;
	line-height: 1rem;
}
