@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin 'tailwindcss-radix';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

/**
 * Color system for light and dark mode.
 * These CSS variables define the color palette for the UI.
 * The :root block is for light mode, and the .dark block is for dark mode.
 */
:root {
  /* Base colors */
  --background: oklch(0.945 0 0);
  --foreground: oklch(0.346 0 0);

  /* Secondary */
  --secondary: oklch(0.25 0.01 250);
  --secondary-hover: oklch(0.15 0.015 250);
  --secondary-soft: oklch(0.85 0.005 280);
  --secondary-soft-hover: oklch(0.8 0.01 250);

  --secondary-foreground: oklch(0.92 0 0);
  --secondary-foreground-hover: oklch(0.85 0 0);
  --secondary-soft-foreground: oklch(0.27 0 0);
  --secondary-soft-foreground-hover: oklch(0.8 0 0);

  /* Popover */
  --popover: oklch(0.97 0 0);
  --popover-hover: oklch(0.94 0.015 240);
  --popover-soft: oklch(0.98 0.005 240);
  --popover-soft-hover: oklch(0.95 0.01 240);

  --popover-foreground: oklch(0.3 0 0);
  --popover-foreground-hover: oklch(0.25 0 0);
  --popover-soft-foreground: oklch(0.35 0 0);
  --popover-soft-foreground-hover: oklch(0.3 0 0);

  /* Card */
  --card: oklch(0.98 0 0);
  --card-hover: oklch(0.93 0.015 0);
  --card-soft: oklch(0.97 0.005 0);
  --card-soft-hover: oklch(0.94 0.01 0);

  --card-foreground: oklch(0.3 0 0);
  --card-foreground-hover: oklch(0.25 0 0);
  --card-soft-foreground: oklch(0.35 0 0);
  --card-soft-foreground-hover: oklch(0.3 0 0);

  --card-inner: oklch(0.93 0.015 230);
  --card-inner-hover: oklch(0.9 0.02 230);
  --card-inner-soft: oklch(0.95 0.01 230);
  --card-inner-soft-hover: oklch(0.92 0.015 230);

  --card-inner-soft-foreground: oklch(0.35 0 0);
  --card-inner-soft-foreground-hover: oklch(0.3 0 0);

  /* Primary */
  --primary: oklch(0.4222 0.1918 318.89);
  --primary-hover: oklch(0.3422 0.1918 318.89);
  --primary-soft: oklch(0.9058 0.0559 306.14);
  --primary-soft-hover: oklch(0.8622 0.0559 306.14);

  --primary-foreground: oklch(0.98 0.0035 247.86);
  --primary-foreground-hover: oklch(0.93 0.0035 247.86);
  --primary-soft-foreground: oklch(0.3222 0.1918 318.89);
  --primary-soft-foreground-hover: oklch(0.3022 0.1918 318.89);

  /* Neutral */
  --neutral: oklch(0.94 0.015 240);
  --neutral-hover: oklch(0.91 0.015 240);
  --neutral-soft: oklch(0.92 0.005 240);
  --neutral-soft-hover: oklch(0.9 0.01 240);

  --neutral-foreground: oklch(0.3 0 0);
  --neutral-foreground-hover: oklch(0.25 0 0);
  --neutral-soft-foreground: oklch(0.35 0 0);
  --neutral-soft-foreground-hover: oklch(0.3 0 0);

  /* Destructive */
  --destructive: oklch(0.477 0.245 27.325);
  --destructive-hover: oklch(0.327 0.245 27.325);
  --destructive-soft: oklch(0.999 0.245 17.325);
  --destructive-soft-hover: oklch(0.919 0.245 17.325);

  --destructive-foreground: oklch(0.98 0.0035 247.86);
  --destructive-foreground-hover: oklch(0.93 0.0035 247.86);
  --destructive-soft-foreground: oklch(0.277 0.245 27.325);
  --destructive-soft-foreground-hover: oklch(0.357 0.245 27.325);

  /* Success */
  --success: oklch(0.55 0.2 140);
  --success-hover: oklch(0.6 0.2 140);
  --success-soft: oklch(0.93 0.06 140);
  --success-soft-hover: oklch(0.869 0.06 140);

  --success-foreground: oklch(0.98 0.0035 247.86);
  --success-foreground-hover: oklch(0.93 0.0035 247.86);
  --success-soft-foreground: oklch(0.35 0.2 140);
  --success-soft-foreground-hover: oklch(0.43 0.2 140);

  /* Warning */
  --warning: oklch(0.65 0.2 60);
  --warning-hover: oklch(0.6 0.2 60);
  --warning-soft: oklch(0.95 0.06 60);
  --warning-soft-hover: oklch(0.91 0.06 60);

  --warning-foreground: oklch(0.98 0.0035 247.86);
  --warning-foreground-hover: oklch(0.93 0.0035 247.86);
  --warning-soft-foreground: oklch(0.45 0.2 60);
  --warning-soft-foreground-hover: oklch(0.53 0.2 60);

  /* Info */
  --info: oklch(0.552 0.313214 264.052);
  --info-hover: oklch(0.6 0.313214 264.052);
  --info-soft: oklch(0.97 0.313214 274.052);
  --info-soft-hover: oklch(0.917 0.313214 274.052);

  --info-foreground: oklch(0.98 0.0035 247.86);
  --info-foreground-hover: oklch(0.93 0.0035 247.86);
  --info-soft-foreground: oklch(0.252 0.313214 264.052);
  --info-soft-foreground-hover: oklch(0.332 0.313214 264.052);

  /* Border */
  --border: oklch(0.65 0 0);
}

.dark {
  /* Base colors */
  --background: oklch(0.281 0 0);
  --foreground: oklch(0.881 0 0);

  /* Secondary */
  --secondary: oklch(0.75 0.01 260);
  --secondary-hover: oklch(0.8 0.015 260);
  --secondary-soft: oklch(0.72 0.005 260);
  --secondary-soft-hover: oklch(0.75 0.01 260);

  --secondary-foreground: oklch(0.3 0 0);
  --secondary-foreground-hover: oklch(0.25 0 0);
  --secondary-soft-foreground: oklch(0.25 0 0);
  --secondary-soft-foreground-hover: oklch(0.2 0 0);

  /* Neutral */
  --neutral: oklch(0.45 0.01 260);
  --neutral-hover: oklch(0.5 0.015 260);
  --neutral-soft: oklch(0.32 0.005 260);
  --neutral-soft-hover: oklch(0.27 0.01 260);

  --neutral-foreground: oklch(0.9 0 0);
  --neutral-foreground-hover: oklch(0.85 0 0);
  --neutral-soft-foreground: oklch(0.85 0 0);
  --neutral-soft-foreground-hover: oklch(0.8 0 0);

  /* Popover */
  --popover: oklch(0.3 0.01 260);
  --popover-hover: oklch(0.35 0.015 260);
  --popover-soft: oklch(0.27 0.005 260);
  --popover-soft-hover: oklch(0.3 0.01 260);

  --popover-foreground: oklch(0.9 0 0);
  --popover-foreground-hover: oklch(0.85 0 0);
  --popover-soft-foreground: oklch(0.85 0 0);
  --popover-soft-foreground-hover: oklch(0.8 0 0);

  /* Card */
  --card: oklch(0.2 0.01 260);
  --card-hover: oklch(0.33 0.015 260);
  --card-soft: oklch(0.25 0.005 260);
  --card-soft-hover: oklch(0.28 0.01 260);

  --card-foreground: oklch(0.9 0 0);
  --card-foreground-hover: oklch(0.85 0 0);
  --card-soft-foreground: oklch(0.85 0 0);
  --card-soft-foreground-hover: oklch(0.8 0 0);

  --card-inner: oklch(0.25 0.015 260);
  --card-inner-hover: oklch(0.3 0.02 260);
  --card-inner-soft: oklch(0.22 0.01 260);
  --card-inner-soft-hover: oklch(0.25 0.015 260);

  --card-inner-soft-foreground: oklch(0.85 0 0);
  --card-inner-soft-foreground-hover: oklch(0.8 0 0);

  /* Primary */
  --primary: oklch(0.58 0.2201 309.41);
  --primary-hover: oklch(0.44 0.2201 309.41);
  --primary-soft: oklch(0.2614 0.1128 298.32);
  --primary-soft-hover: oklch(0.2214 0.1128 298.32);

  --primary-foreground: oklch(0.894 0.013 264.1);
  --primary-foreground-hover: oklch(0.796 0.013 264.1);
  --primary-soft-foreground: oklch(0.68 0.2201 309.41);
  --primary-soft-foreground-hover: oklch(0.76 0.2201 309.41);

  /* Destructive */
  --destructive: oklch(0.604 0.191 22.216);
  --destructive-hover: oklch(0.544 0.191 22.216);
  --destructive-soft: oklch(0.224 0.091 22.216);
  --destructive-soft-hover: oklch(0.274 0.091 22.216);

  --destructive-foreground: oklch(0.9 0.013 25.6);
  --destructive-foreground-hover: oklch(0.82 0.013 25.6);
  --destructive-soft-foreground: oklch(0.804 0.191 22.216);
  --destructive-soft-foreground-hover: oklch(0.884 0.191 22.216);

  /* Success */
  --success: oklch(0.56 0.2 140);
  --success-hover: oklch(0.45 0.2 140);
  --success-soft: oklch(0.293 0.1 140);
  --success-soft-hover: oklch(0.33 0.1 140);

  --success-foreground: oklch(0.9 0.013 264.1);
  --success-foreground-hover: oklch(0.82 0.013 264.1);
  --success-soft-foreground: oklch(0.8 0.2 140);
  --success-soft-foreground-hover: oklch(0.88 0.2 140);

  /* Warning */
  --warning: oklch(0.56 0.15 60);
  --warning-hover: oklch(0.45 0.15 60);
  --warning-soft: oklch(0.293 0.085 60);
  --warning-soft-hover: oklch(0.23 0.085 60);

  --warning-foreground: oklch(0.9 0.013 264.1);
  --warning-foreground-hover: oklch(0.82 0.013 264.1);
  --warning-soft-foreground: oklch(0.8 0.015 60);
  --warning-soft-foreground-hover: oklch(0.88 0.015 60);

  /* Info */
  --info: oklch(0.55 0.15 250);
  --info-hover: oklch(0.5 0.15 250);
  --info-soft: oklch(0.35 0.085 250);
  --info-soft-hover: oklch(0.39 0.085 250);

  --info-foreground: oklch(0.9 0.013 264.1);
  --info-foreground-hover: oklch(0.82 0.013 264.1);
  --info-soft-foreground: oklch(0.85 0.15 250);
  --info-soft-foreground-hover: oklch(0.93 0.15 250);

  /* Border */
  --border: oklch(0.848 0.033 260.7);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-soft: var(--secondary-soft);
  --color-secondary-soft-hover: var(--secondary-soft-hover);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-foreground-hover: var(--secondary-foreground-hover);
  --color-secondary-soft-foreground: var(--secondary-soft-foreground);
  --color-secondary-soft-foreground-hover: var(
    --secondary-soft-foreground-hover
  );

  --color-neutral: var(--neutral);
  --color-neutral-hover: var(--neutral-hover);
  --color-neutral-soft: var(--neutral-soft);
  --color-neutral-soft-hover: var(--neutral-soft-hover);

  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-foreground-hover: var(--neutral-foreground-hover);
  --color-neutral-soft-foreground: var(--neutral-soft-foreground);
  --color-neutral-soft-foreground-hover: var(--neutral-soft-foreground-hover);

  --color-popover: var(--popover);
  --color-popover-hover: var(--popover-hover);
  --color-popover-soft: var(--popover-soft);
  --color-popover-soft-hover: var(--popover-soft-hover);

  --color-popover-foreground: var(--popover-foreground);
  --color-popover-foreground-hover: var(--popover-foreground-hover);
  --color-popover-soft-foreground: var(--popover-soft-foreground);
  --color-popover-soft-foreground-hover: var(--popover-soft-foreground-hover);

  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-card-soft: var(--card-soft);
  --color-card-soft-hover: var(--card-soft-hover);

  --color-card-foreground: var(--card-foreground);
  --color-card-foreground-hover: var(--card-foreground-hover);
  --color-card-foreground-soft: var(--card-soft-foreground);
  --color-card-foreground-soft-hover: var(--card-soft-foreground-hover);

  --color-card-inner: var(--card-inner);
  --color-card-inner-hover: var(--card-inner-hover);
  --color-card-inner-soft: var(--card-inner-soft);
  --color-card-inner-soft-hover: var(--card-inner-soft-hover);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-soft: var(--primary-soft);
  --color-primary-soft-hover: var(--primary-soft-hover);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-hover: var(--primary-foreground-hover);
  --color-primary-soft-foreground: var(--primary-soft-foreground);
  --color-primary-soft-foreground-hover: var(--primary-soft-foreground-hover);

  --color-destructive: var(--destructive);
  --color-destructive-hover: var(--destructive-hover);
  --color-destructive-soft: var(--destructive-soft);
  --color-destructive-soft-hover: var(--destructive-soft-hover);

  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-foreground-hover: var(--destructive-foreground-hover);
  --color-destructive-soft-foreground: var(--destructive-soft-foreground);
  --color-destructive-soft-foreground-hover: var(
    --destructive-soft-foreground-hover
  );

  --color-success: var(--success);
  --color-success-hover: var(--success-hover);
  --color-success-soft: var(--success-soft);
  --color-success-soft-hover: var(--success-soft-hover);

  --color-success-foreground: var(--success-foreground);
  --color-success-foreground-hover: var(--success-foreground-hover);
  --color-success-soft-foreground: var(--success-soft-foreground);
  --color-success-soft-foreground-hover: var(--success-soft-foreground-hover);

  --color-warning: var(--warning);
  --color-warning-hover: var(--warning-hover);
  --color-warning-soft: var(--warning-soft);
  --color-warning-soft-hover: var(--warning-soft-hover);

  --color-warning-foreground: var(--warning-foreground);
  --color-warning-foreground-hover: var(--warning-foreground-hover);
  --color-warning-soft-foreground: var(--warning-soft-foreground);
  --color-warning-soft-foreground-hover: var(--warning-soft-foreground-hover);

  --color-info: var(--info);
  --color-info-hover: var(--info-hover);
  --color-info-soft: var(--info-soft);
  --color-info-soft-hover: var(--info-soft-hover);

  --color-info-foreground: var(--info-foreground);
  --color-info-foreground-hover: var(--info-foreground-hover);
  --color-info-soft-foreground: var(--info-soft-foreground);
  --color-info-soft-foreground-hover: var(--info-soft-foreground-hover);

  --color-border: var(--border);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --transition-property-width: width;
  --transition-property-display: display;
  --transition-property-height: height;
  --transition-property-visibility: visibility;

  --shadow-round: 0 0 50px rgba(0, 0, 0, 0.5);
  --shadow-bottom: 0 4px 2px -2px rgb(0 0 0 / 0.1);
  --shadow-raise:
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --container-1\/4: 25%;
  --container-1\/3: 33.33%;
  --container-1\/2: 50%;
  --container-2\/3: 66.66%;
  --container-3\/4: 75%;
  --container-xl: 80rem;

  --height-0_75: 0.1875rem;

  --background-image-profile-hero: url('/mask.svg');
  --background-image-checkered: repeating-conic-gradient(
      oklch(0.346 0 0) 0% 25%,
      oklch(1 0 0) 0% 50%
    )
    50% / 12px 12px;

  --breakpoint-vl: 80rem;
  --breakpoint-xl: 90rem;
  --breakpoint-2xl: 100rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--spacing) * 4);
  width: 100%;

  @variant sm {
    max-width: var(--breakpoint-sm);
  }
  @variant md {
    max-width: var(--breakpoint-md);
  }
  @variant lg {
    max-width: var(--breakpoint-lg);
  }
  @variant vl {
    max-width: var(--breakpoint-vl);
  }

  @variant xl {
    padding-inline: calc(var(--spacing) * 6);
    max-width: var(--breakpoint-xl);
  }

  @variant 2xl {
    max-width: var(--breakpoint-2xl);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  a:not([data-slot='link']) {
    @apply border-primary/40 hover:border-primary border-b font-medium no-underline;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}
input,
textarea {
  &:where(:autofill, [data-com-onepassword-filled], :-moz-autofill) {
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;

    & + :where(:-webkit-autofill) {
      background-color: inherit;
      box-shadow:
        inset 0 0 0 1px,
        inset 0 0 0 1px;
    }
  }
}

[type='text'],
input:where(:not([type])),
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  background-color: inherit;
}

ul li,
ol li {
  @apply first-letter:capitalize;
}

fieldset {
  @apply w-full;
}

@keyframes cursor-delay-opacity-change {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes progress-indeterminate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress-indeterminate {
  animation: progress-indeterminate 1.5s ease-in-out infinite;
}
