# ./.github/workflows/publish.yml
name: Publish

on:
  push:
    branches:
      - prod
      - master
    tags:
      - v*.*.*

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: pnpm install
        shell: bash

      - name: Print Environment Info
        run: pnpx nx report
        shell: bash

      - name: Build packages
        run: pnpx nx run-many -t build --projects=tag:scope:lib
        shell: bash

      - name: Publish packages
        run: pnpx nx release publish
        shell: bash
